.Tooltip {
  display: inline-block;
  position: relative;
}

.Tooltip--visible .Tooltip__title {
  opacity: 1;
  visibility: visible;
}

/*
* Wrapper for tooltip target when its a render prop or a text node that forces display to inline-block
* to insure its dimensions are the same as its child's and therefore doesn't mess the tooltip's position calculations
*/
.Tooltip__target-wrapper {
  display: inline-block;
}

.Tooltip--nodelay .Tooltip__title {
  transition-delay: 0ms;
}

.Tooltip__title {
  background-color: #24242f;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  max-width: 200px;
  opacity: 0;
  padding: 4px 8px;
  position: absolute;
  text-align: center;
  transition: opacity 200ms ease-in 500ms;
  visibility: hidden;
  width: max-content;
}

/* Tooltip caret positions */

.Tooltip .Tooltip__title::before {
  border: 4px solid transparent;
  content: '';
  position: absolute;
}

.Tooltip--left .Tooltip__title::before {
  border-left-color: #24242f;
  left: 100%;
  top: calc(50% - 4px);
}

.Tooltip--top-left .Tooltip__title::before {
  border-top-color: #24242f;
  left: 8px;
  top: 100%;
}

.Tooltip--top .Tooltip__title::before {
  border-top-color: #24242f;
  left: calc(50% - 4px);
  top: 100%;
}

.Tooltip--top-right .Tooltip__title::before {
  border-top-color: #24242f;
  right: 8px;
  top: 100%;
}

.Tooltip--right .Tooltip__title::before {
  border-right-color: #24242f;
  right: 100%;
  top: calc(50% - 4px);
}

.Tooltip--bottom-left .Tooltip__title::before {
  border-bottom-color: #24242f;
  bottom: 100%;
  left: 8px;
}

.Tooltip--bottom .Tooltip__title::before {
  border-bottom-color: #24242f;
  bottom: 100%;
  left: calc(50% - 4px);
}

.Tooltip--bottom-right .Tooltip__title::before {
  border-bottom-color: #24242f;
  bottom: 100%;
  right: 8px;
}
